.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header_red {
    position: absolute;
    left: 47%;
    top: 0;
    width: 70px;
    display: flex;
    flex-direction: row;
}

.header_red span {
    width: 14px;
    height: 17px;
    margin-left: 14px;
    background-color: #E4002B;
}

.header_info {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.btn {
    width: 146px;
    height: 48px;
    border: none;
}

.btn-active {
    background: #E4002B;
}