.header {
    width: 1440px;
    height: 88px;
    margin: 0 auto;
}

.header_red {
    position: absolute;
    left: 50%;
    top: 0;
    width: 70px;
    display: flex;
    flex-direction: row;
}

.header_red span {
    width: 14px;
    height: 17px;
    margin-left: 14px;
    background-color: #E4002B;
}