.humburger {
    margin-left: 100px;
    margin-top: 37px;
}

span {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 4px;
}

.long {
    width: 16px;
    height: 2px;
}