@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gam-menu {
        @apply w-6 h-0.5 bg-black mb-1
    }

    .red-block-header {
        @apply w-5 h-7 bg-red-500
    }

    .red-block-footer {
        @apply w-8 h-12 bg-red-500
    }

    .button {
        @apply bg-gray-200 w-36 h-12 rounded-md
    }

    .activeButton {
        @apply bg-red-500 w-36 h-12 rounded-md
    }

    .productStatus {
        @apply w-14 h-14 rounded-full flex items-center justify-center text-white absolute top-12 left-4
    }

    .amountMeals {
        @apply absolute bottom-0 right-0 flex items-center rounded-full h-12
    }

}


body {
    width: 1440px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}